.sign-in-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.whatsUp-logo {
    position: relative;
    animation: bounce 900ms infinite alternate-reverse;
}

@keyframes bounce {
    from {
        top: 30px;
    }

    to {
        top: -5px;
    }
}

.welcome {
    animation: toggle-name 900ms infinite alternate-reverse;
}

@keyframes toggle-name {
    from {
        color: #ced4da;
    }

    to {
        color: #639ff8;
    }
}